{# templates/security/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un compte</h1>

        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.passwordConfirm) }}
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        {{ form_end(form) }}

        <p>Déjà un compte ? <a href="{{ path('login') }}">Connectez-vous ici</a></p>
    </div>
{% endblock %}
